<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Application to find the best restaurant references.">
    <meta name="theme-color" content=" #db0000 " />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json ">
    <link rel="stylesheet" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;display=swap">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>GPS Resto Apps</title>
</head>

<body>
    <div class="skip">
        <a href="#mainContent" class="skip-link">Skip to Content</a>
    </div>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>GPS Resto App</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul class="nav-list">
                <li class="nav-item"><a href="#/home">Home</a></li>
                <li class="nav-item"><a href="#/like">Favorite</a></li>
                <li class="nav-item"><a href="https://www.instagram.com/darko_nuya/" target="blank" rel="noreferrer">About Us</a></li>
            </ul>
        </nav>

    </header>

    <main id="mainContent"></main>
</body>

<footer>
    <p> Copyright &#169:2021-GPS RESTO Apps</p>
</footer>

</html>